* {
    padding: 0;
    margin: 0;

}
/*selector id*/
#contenedor {
    width: 900px;
    height: 1000px;
    background-color:whitesmoke;
    max-width: 0 auto;

}
#encabezado {
    height: 15%;
    background-color:darkgreen;
    margin: 1em auto;

}
#contenido {
    height: 70%;
    width: 60%;
    background-color: cadetblue;
    margin: 0.5em;
    float: left;

}
 .texto {
    text-align: justify;
    font-family: tohoma;
    font-size: medium;
    
 }
 .diseño_heroes {
    text-align: center;
    background: #333;
    color: white;
    margin: auto 2em;
 }
 .imagen {
    /*display: block;*/
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    height: 100px;
    
 }
 ul {
    text-align: center;
    margin: 2em auto;

 }
 li {
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    
 }